// $mautim: #87509c //Tím 
// $maungoc: #17c2a4 // Cyan
// $mauvang: #ffdd99 // Vang 
// $maudo: #d74680 // Đỏ 
// $mauxanh: #3c5499 // Xanh 

    //- Đây là phần Services
.Home_Services
    background: #17c2a4
    min-height: 600px
    text-align: center
    justify-content: center
    align-items: center
    display: flex
    .col h1
        text-transform: uppercase
        color: #ffffff
        font-size: 50px
    .col p
        color: #ffffff
        font-size: 1rem
        width: 550px
        height: 20px
        margin: 50px 280px 100px 
    .figure
        width: 200px
        min-height: 50px
    .figure img
        margin-bottom: 50px
    .col-sm-3 h3
        color: #ffffff
        padding-bottom: 20px
        font-size: 1.5rem
    .col-sm-3 p
        color: #ffffff
        


         
        


