$mautim: #87509c //Tím 
$maungoc: #17c2a4 // Cyan
$mauvang: #ffdd99 // Vang 
$maudo: #d74680 // Đỏ 
$mauxanh: #3c5499 // Xanh
$maucamdat: #EB7D4B // Cam đất

.Home_Sliders
    background: $mautim 
    text-align: center
    min-height: 600px
    justify-content: center
    align-items: center
    display: flex
    h1
        color: #ffffff
        font-size: .1.5rem
        letter-spacing: .001rem
    .btn-more
        background: $maucamdat
        padding: 1rem 3rem
        margin-top: 30px
        color: #ffffff
        font-weight: bolder
        text-transform: uppercase