extends _layout/layout.pug
block main 
	//- Đây là phần Services
	section.Home_Services
		.container
			.row
				.col
					h1 services we provice
					p 	We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row
				.col-sm-3
					figure.figure
						img(src="./img/home_icon_1.png", alt="BRANDING")
						h3 BRANDING
						p.branding Lorem ipsum dolor sit amet, consectetuer adipiscing alit, sed diam nonummy nibh.
				.col-sm-3
					figure.figure
						img(src="./img/home_icon_2.png", alt="DESIGN")
						h3 DESIGN
						p.branding Sed ut perpicaiatis unde omnis iste natus error sit voluptatem.
				.col-sm-3
					figure.figure
						img(src="./img/home_icon_3.png", alt="DEVELOPMENT")
						h3 DEVELOPMENT
						p.branding At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.
				.col-sm-3
					figure.figure
						img(src="./img/home_icon_4.png", alt="ROCKET SCIENCE")
						h3 ROCKET SCIENCE
						p.branding Et harum quidem rerum est et expedita distinctio. Nam libero tempore.

							
						
