extends _layout/layout.pug
block main 
	section.Home_Sliders
		.container
			.row
				.col
					h1 Hi there!We are the new kidson the block and we build awesome websites and mobile apps.
					p
						a.btn.btn-more(href="#") work with us!